body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
}
.wrapper_bg {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
.item {
    background-color: transparent;
    align-self: center;
    text-align: center;
    width: 500px;
}
.clock {
    height: 70px;
    line-height: 70px;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
}
.weather {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    border-bottom: 1px dashed gray;
}
.weather_icon {
    width: 100px;
    grid-row: 1/3;
}
.weather_loc {
    width: max-content;
    grid-row: 1/3;
    grid-column: 2/3;
}
.weather_temp {
    width: 80px;
    grid-column: 3/4;
    grid-row: 1/3;
}
.weather_temp2 {
    font-size: 0.5em;
    grid-column: 4/5;
}
.weather_temp3 {
    font-size: 0.5em;
    grid-column: 4/5;
}

#login_form input {
    line-height: 2em;
    width: 350px;
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
}
#todo_form input {
    line-height: 2em;
    width: 280px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}
.todo {
    text-align: left;
    padding-left: 72px;
    overflow: auto;
}
.TodoList {
    list-style: none;
    line-height: 1.5em;
    font-size: 1.5em;
}
.TodoList li button {
    border: none;
    background: transparent;
}
.t {
    height: 400px;
    overflow: auto;
}
.hidden {
    display: none;
}
